#about {
  background-color: var(--background-dark);
  color: var(--text-on-dark);
}

#about .about-content {
  display: flex;
  gap: 4rem;
}

#about .about-content .about-image {
  display: flex;
  align-items: center;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  #about .about-content {
    flex-direction: column;
  }

  #about .about-content .about-image {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
}
