footer {
    display: flex;
    padding: 1.5rem max(4vw, var(--minimum-padding));
    align-items: center;
    justify-content: space-between;
    align-self: stretch;

    background: var(--paper-light);
    color: var(--text-on-light);
}

footer p {
    text-align: center;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 1rem;
    }

    footer p {
        position: relative;
        transform: none;
        left: 0;
    }
}
