#hero {
    /* reset default section padding */
    padding-top: calc(2rem + 40px); /* height of header : padding + logo size */
    padding-bottom: 0;
    height: calc(
            100vh - 2rem - 40px
    ); /* height of visual : full height - height of header */
    gap: 0;
}

#hero #hero-content {
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;

    gap: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: var(--text-on-dark);
}


#hero #hero-title {
    height: 8rem;
}
