#hero {
  /* reset default section padding */
  padding-top: calc(2rem + 48px); /* height of header : padding + logo size */
  padding-bottom: 0;
  height: calc(
    100vh - 2rem - 48px
  ); /* height of visual : full height - height of header */
  gap: 0;
}

#hero #hero-content {
  margin-top: auto;
  margin-bottom: auto;

  color: var(--text-on-dark);
}


#hero #hero-title #hero-title-above,
#hero-title-below {
  font-size: 7vw;
}

#hero #hero-subtitle {
  font-size: 2vw;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  #hero #hero-title #hero-title-above,
  #hero-title-below {
    font-size: 2.5rem;
  }

  #hero #hero-subtitle {
    font-size: 1.25rem;
  }
}
