#service {
  background-color: var(--background-dark);
  color: var(--text-on-dark);
}

#service .service-content {
  display: flex;
  justify-content: center;
}

#service .service-card {
  display: inline-flex;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  background: var(--background-light);
  color: var(--text-on-light);

  transition: border-radius 0.3s ease
}

#service .service-card:hover {
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#service .service-card .service-card-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#service .service-card .service-card-head .service-card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#service .service-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  list-style: none;
  padding-left: 0;
}

#service .service-card ul li {
  display: flex;
  align-items: stretch;
}

#service .service-card ul li::before {
  content: url("../assets/icons/Check.svg");
  padding-right: 8px;
}

#service .service-card h3,
h6,
ul {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
