@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../assets/fonts/MPLUSRounded1c-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Margarine';
  src: url('../assets/fonts/Margarine-Regular.ttf');
}

:root {
  /* colors */
  --primary: #FAD40F;
  --text-on-primary: #140103;
  --secondary: #FA1833;
  --background-dark: #530811;
  --text-on-dark: #F8F0EE;
  --background-light: #F8F0EE;
  --text-on-light: #140103;
  --paper-light: #FCF9F8;

  /* spacing */
  --minimum-padding: 2rem;
  --content-width-padding: max(14vw, var(--minimum-padding));
  --content-height-padding: 8rem;
  --content-mobile-height-padding: 4rem;

  scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;

  margin: 0;

  background-color: var(--background-dark);
  color: var(--text-on-dark);
}

.logo img {
  height: 40px;
}

section {
  padding: var(--content-height-padding) var(--content-width-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  min-height: 60vh;
  
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  section {
    padding-top: var(--content-mobile-height-padding);
    padding-bottom: var(--content-mobile-height-padding);
  }
}


#content .circle {
  width: min(500px, 31.25vw);
  height: min(500px, 31.25vw);

  position: fixed;

  border-radius: 50%;
}

#content .circle:nth-child(1) {
  left: -8.8125vw;
  top: -1.08556vh;

  background-color: var(--secondary);
  filter: blur(min(350px, 21.875vw));
}

#content .circle:nth-child(2) {
  right: 3.8125vw;
  top: -1.08556vh;

  background: #8DEBB2;
  filter: blur(min(350px, 21.875vw));
}

#content .circle:nth-child(3) {
  right: -10.0625vw;
  top: -2.96056vh;

  background-color: var(--primary);
  filter: blur(min(300px, 18.75vw));
}